<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lahacks.sns" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Scoot 'n Save</name>
    <description>
        A sample Apache Cordova application wrapping a web app that finds the nearest bike stop.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
	<icon src="res/SnS_logo_resize.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<edit-config target="NSLocationWhenInUseUsageDescription" file="../ios/Scoot 'n Save/Scoot 'n Save-Info.plist" mode="merge">
		<string>need location access to find things nearby</string></edit-config>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
